alias cls ='clear'
alias -g ls='ls --color=auto'
alias reboot="nordvpn d; CheckMounts.sh; sudo reboot"
alias poweroff="nordvpn d; CheckMounts.sh; sudo poweroff"
alias halt="sudo halt"
alias Backup="sudo PerformanceBackup.sh -e /swapfile -d ~/.backups"
alias Access="sudo Access.sh"
alias AccessEnd="sudo AccessEnd.sh"
alias UpdateRepos="sudo UpdateRepos.sh"
alias UpdateArch="sudo pacman -Syu;packer -Syu --noedit --auronly --noconfirm"
alias CleanArch="sudo pacman -Sc;sudo pacman -Rns $(pacman -Qtdq)"
alias E="emacs -nw"
alias e="emacs -nw"
alias G="git"
alias g="git"
alias Pi="ssh pi-arch"
alias Skylake="ssh skylake-i3-arch.local"
alias Nemia="ssh nemia-acer-mint.local"