alias -g ls='ls --color=auto'
alias reboot="CheckMounts.sh; sudo reboot"
alias poweroff="CheckMounts.sh; sudo poweroff"
alias halt="sudo halt"
alias Backup="sudo PerformanceBackup.sh -e /swapfile -d ~/.backups"
alias Access="sudo Access.sh"
alias AccessEnd="sudo AccessEnd.sh"
alias UpdateRepos="sudo UpdateRepos.sh"
alias UpdateArch="sudo pacman -Syu;sudo packer -Syu --noedit --auronly"
alias CleanArch="sudo pacman -Sc;sudo pacman -Rns $(pacman -Qtdq)"
alias vbox="sudo vbox.sh"
alias E="emacsclient -nw"
alias weechat="weechat-curses"
alias GitD="git diff"
alias GitA="git add"
alias GitS="git status"
alias GitC="git commit -m"
alias GitP="git push origin master"